@{
    ViewBag.Title = "Home Page";
}

@* Nothing really all that interesting here *@

<div class="jumbotron">
    <h1>THE MAGIC WARDROBE</h1>
    <h4><a href="~/Outfits">Want to see some of the sets we have? Click here!</a></h4>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tops</h2>
        <p>
            Candy canes bear claw jujubes topping I love cotton candy. Pudding candy I love I love apple pie caramels marshmallow chocolate bar. Lollipop sesame snaps sweet roll cake candy carrot cake toffee. Chocolate bear claw apple pie. Chupa chups apple pie soufflé lollipop bear claw bear claw gummi bears sweet roll. Jujubes toffee chocolate bar sesame snaps candy canes. Tootsie roll cake caramels topping. I love soufflé cotton candy macaroon sweet. Halvah powder jelly pastry ice cream sweet roll cupcake tootsie roll sugar plum. Marshmallow wafer I love macaroon croissant cheesecake.
        </p>
        <p><a class="btn" href="~/Tops">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Bottoms</h2>
        <p>
            Ice cream chocolate cake cupcake chocolate bar cookie. Pudding wafer cheesecake toffee gummies. Topping tart caramels soufflé lollipop chocolate bar. Croissant bear claw gingerbread I love I love cookie donut cupcake. Tiramisu caramels I love gummies carrot cake cupcake croissant gummies. Croissant carrot cake fruitcake. Caramels candy cotton candy dragée ice cream brownie cake. Jelly-o chocolate oat cake cheesecake bear claw tart cupcake. Chupa chups lemon drops dragée I love chocolate cake.
        </p>
        <p><a class="btn" href="~/Bottoms">Check it out &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Shoes</h2>
        <p>
            I love muffin liquorice croissant lollipop cake sweet icing gummies. Cheesecake liquorice jelly beans. Pudding donut candy chocolate bar sugar plum sugar plum sweet roll icing. Topping bonbon danish candy canes. Toffee I love tiramisu cookie wafer muffin biscuit. Wafer I love wafer.
        </p>
        <p><a class="btn" href="~/Shoes">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Additional Accessories</h2>
        <p>
            Pie tootsie roll jujubes halvah. Jelly-o cotton candy muffin I love tootsie roll icing cookie apple pie. Sweet cotton candy croissant croissant ice cream chocolate bar. Chocolate toffee cake wafer bear claw dragée croissant. Sweet roll tootsie roll tiramisu toffee tiramisu cake fruitcake marzipan. Soufflé ice cream candy canes sweet roll I love chocolate cake tiramisu I love jelly. I love carrot cake powder. Chupa chups jelly-o caramels bonbon chupa chups cake gummi bears topping candy canes. I love marzipan oat cake bonbon jelly jujubes macaroon I love. Caramels dragée danish caramels I love I love danish cupcake.
        </p>
        <p><a class="btn" href="~/Accessories/">Check it out &raquo;</a></p>
    </div>
</div>

